version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: 'npm'
    directory: '/modules/website'
    schedule:
      interval: 'monthly'