name: CI
on:
  workflow_dispatch:
    inputs:
      publishSnapshot:
        description: 'Publish Snapshot'
        required: false
        default: 'false'
      publishMicrosite:
        description: 'Publish Microsite'
        required: false
        default: 'false'
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["*"]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

env:
  JABBA_INDEX: 'https://github.com/typelevel/jdk-index/raw/main/index.json'

jobs:
  build:
    name: Test ${{matrix.ceVersion}} ${{matrix.scalaVersion}} (${{matrix.scalaPlatform}})
    strategy:
      fail-fast: true
      matrix:
        scalaVersion: ["2_12", "2_13", "3_0"]
        scalaPlatform: ["jvm", "js"]
        ceVersion: ["CE2", "default"]
        exclude:
          # Do not build CE2 artifacts for Scala 3
          - scalaVersion: "3_0"
            ceVersion: "CE2"
          # Do not build CE2 artifacts for Scalajs
          - scalaPlatform: "js"
            ceVersion: "CE2"
          # Do not build 2.12 artifacts for Scalajs
          - scalaVersion: "2_12"
            scalaPlatform: "js"
        include:
          - scalaVersion: "3_0"
            scalaPlatform: "native"
            ceVersion: "default"
    runs-on: ubuntu-latest
    env:
      BUILD_KEY: ${{matrix.ceVersion}}_${{matrix.scalaVersion}}_${{matrix.scalaPlatform}}
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Cache
        uses: coursier/cache-action@v6
        with:
          extraKey: ${{ env.BUILD_KEY }}

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@v13
        with:
          java-version: temurin@17

      - name: Run tests
        run: |
          sbt test_$BUILD_KEY \
              pushRemoteCache_$BUILD_KEY \
              -J-Xmx4G

      - name: Run plugin tests
        if: matrix.scalaVersion == '2_12' && matrix.scalaPlatform == 'jvm' && matrix.ceVersion == 'CE2'
        run: |
          sbt scripted

      - name: Run checks
        if: matrix.scalaVersion == '2_13' && matrix.scalaPlatform == 'jvm' && matrix.ceVersion == 'default'
        run: |
          sbt scalafmtCheckAll \
              headerCheck \
              "docs/mdoc"
          (cd ./modules/website && yarn && yarn swizzle docusaurus-lunr-search SearchBar --danger --wrap && yarn build)

      - name: Check for untracked changes
        run: |
          git status
          ./scripts/check-dirty.sh
          echo "Built $(cat version)"

      - name: Check for Binary Compatibility
        if: matrix.scalaPlatform == 'jvm'
        run: sbt mimaReportBinaryIssuesIfRelevant_$BUILD_KEY

      - name: Upload compilation cache
        uses: actions/upload-artifact@v3
        with:
          name: compilation-${{env.BUILD_KEY}}.zip
          path: /tmp/remote-cache

  build-success-checkpoint:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Build matrix completed
        run: echo "Build result is a ${{ needs.build.result }}"

  release:
    name: Release
    needs: build
    if: startsWith(github.ref, 'refs/tags/v') || (github.event_name == 'workflow_dispatch' && github.event.inputs.publishSnapshot == 'true') # || (github.ref == 'refs/heads/main')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@v13
        with:
          java-version: temurin@17

      - name: Cache
        uses: coursier/cache-action@v6

      - name: Download compilation cache
        uses: actions/download-artifact@v3
        with:
          path: /tmp/remote-cache

      - name: Unpack compilation cache
        run: cd /tmp/remote-cache && (ls | xargs -I {} sh -c 'cp -r {}/* .')

      - name: Publish ${{ github.ref }}
        run: |
          echo $PGP_SECRET | base64 --decode | gpg --import --no-tty --batch --yes
          sbt 'pullRemoteCache; release' -J-Xmx2G
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}

  microsite:
    name: Publish Docs Microsite
    if: startsWith(github.ref, 'refs/tags/v') || (github.event_name == 'workflow_dispatch' && github.event.inputs.publishMicrosite == 'true')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@v13
        with:
          java-version: temurin@17

      - name: Cache
        uses: coursier/cache-action@v6

      - name: Compile Documentation Markdown Files
        run: sbt "docs/mdoc"

      - name: Build Microsite
        run: cd ./modules/website && yarn && yarn swizzle docusaurus-lunr-search SearchBar --danger --wrap && yarn build

      - name: Publish Microsite
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./modules/website/build
          publish_branch: gh-pages
